* {
    box-sizing: border-box;
}

p {
    margin-top: 0;
}

.body {
    margin: 0;
    background: #F8F8F8;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.advice {
    background: #EF33B4;
    padding-top: 50px;
    padding-bottom: 35px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #FFFFFF;
}

.advice_title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.service {
    padding-top: 80px;
    padding-bottom: 30px;
}

.service__list {
    margin-left: -50px;
    margin-right: -50px;
}

.service__item {
    font-family: 'Roboto', Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: #808080;
    width: 33%;
    padding: 0 50px;
    display: inline-block;
    margin-bottom: 30px;

}

/*
    .service__item:not(:nth-of-type(3n)){
        margin-right: 100px;*/

.service__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    color: #4D4D4D;
    margin-top: 20px;
    margin-bottom: 10px;
}

.border {
    border: 2px dashed #3B72FF;
    border-radius: 20px;
    background: #EBF0FF;
    text-align: center;

}

.border__p1 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: #EF33B4;
    padding-top: 40px;
}

.border__p2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: #3B72FF;
    padding-bottom: 25px;
    padding-left: 200px;
    padding-right: 200px;
}

.mission {
    padding-bottom: 100px;
}

.left {
    width: 60%;
    float: left;
}

.right {
    width: 40%;
    float: right;
}

.caption {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    color: #EF33B4;
    margin-top: 80px;
    margin-bottom:50px ;
    margin-left: 135px;
   
}

.explain{
   display: inline-block;
  width: 70%;
  margin-left: 135px;
}
.stick{
 
}
.explain__caption {
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    width: 100%;  
    display: flex;
}
.main__explain{
    width:40%;
    display: inline-block;
    
}
.cap{
    padding-bottom: 30px;
}

.img__title{
    margin-left: 10px;
}
.p{
    text-align: justify;
    margin-top: 16px;
    margin-bottom: 40px;
}
.container2{
    width: 1440px;
    margin: 0 auto;
}
.hearticon{
    position: absolute;
   bottom: 34%;
   margin-left: -40px;
}
.right{
    position: relative;
}

/*.explain__list {
    width:calc(100%-100px);
    margin-left: -100px;
    margin-right: -100px;
}